# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (optional, uncomment if you want to include VS Code settings)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Environment files
.env

# Exclude platform-specific directories if you're not using them (e.g., excluding `ios` if not needed)
ios/ 
android/

# Exclude metadata files
.metadata
.analysis_options.yaml
